<% if logged_in? && @post.creator == current_user || current_user.admin? %>
  <p class="pull-right">
    [<%= link_to 'Edit this post', edit_post_path(@post) %>]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr/>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/errors', active_record_object: @comment %>
    <div class="control-group">
      <%= f.label :body, 'Leave a comment' %>
      <%= f.text_area :body, rows: 3, class: 'span4' %>
    </div>
    <%= f.submit "Create comment", class: "btn btn-primary" %>
  <% end %>
<% end %>

<h4>Comments:</h4>
<% @post.reload.comments.reverse.each do |comment| %>
  <%= render 'shared/comment', comment: comment %>
<% end %>
